.container{
    margin-bottom: 100px;
}
.orange-bg{
    background-color: #FCE6E8;
    border-radius: 10px;
}
.carousel-item{
    padding: 20px 40px;
}
.price{
    color: #F869A0;
}
.buy-now-button{
    background-image: linear-gradient(to bottom, #F869A0 0% , #F869A0 100%);
    border-radius: 8px;
    padding: 9px 25px;
    border: none;
    cursor: pointer;
}